body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

body h1{
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    /* Ограничиваем растягивание textarea только по вертикали */
    resize: vertical;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    background-color: #ddd;
}

.active {
    background-color: #ccc; /* Цвет для активной ссылки */
}

.content h2{
    text-align: center;
}

#tarifsInfo{
    display: flex;
    margin-left: 14%;
    flex-direction: column;
    padding: 1%;
    border: 5px solid black;
}

#control-tarifs{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    /* width: 100%; */
}

.redact{
    background: none;
    padding: 5px 15px;
    border-radius: 30px;
    color: green;;
    text-decoration: none;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.6s ease-in-out;
}

.redact:hover{
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    background: green;
    font-weight: 800;
    /* border: 1px solid black; */
}

.remove{
    background: none;
    padding: 5px 15px;
    border-radius: 30px;
    color: red;;
    text-decoration: none;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.6s ease-in-out;
}

.remove:hover{
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    background: red;
    font-weight: 800;
    /* border: 1px solid black; */
}