body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

body h1{
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    /* Ограничиваем растягивание textarea только по вертикали */
    resize: vertical;
}

button {
    padding: 15px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid;
    
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    border-right: 1px solid;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    background-color: #ddd;
}

.active {
    background-color: #cccccc5f; /* Цвет для активной ссылки */
}

.content{
    display: contents;
}

.content h2{
    text-align: center;
}

#tarifsInfo{
    display: flex;
    margin-left: 14%;
    flex-direction: column;
    padding: 1%;
    border: 5px solid black;

}

#control-tarifs{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    /* width: 100%; */
}

table {
    border-collapse: collapse;
    width: 40%;
}
th, td {
    border: 1px solid goldenrod;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#add-driver-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid goldenrod;
    padding: 1%;
    
}

.unblock{
    background: none;
    padding: 5px 15px;
    border-radius: 30px;
    color: green;;
    text-decoration: none;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.6s ease-in-out;
}

.unblock:hover{
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    background: green;
    font-weight: 800;
    /* border: 1px solid black; */
}

.remove, .delete{
    background: none;
    padding: 5px 15px;
    border-radius: 30px;
    color: red;;
    text-decoration: none;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.6s ease-in-out;
}

.remove:hover, .delete:hover{
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    background: red;
    font-weight: 800;
    /* border: 1px solid black; */
}

.block{
    background: none;
    padding: 5px 15px;
    border-radius: 30px;
    color: red;;
    text-decoration: none;
    font-weight: 800;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.6s ease-in-out;
}

.block:hover{
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    background: red;
    font-weight: 800;
    /* border: 1px solid black; */
}

#users-control,
#tarifs-control,
#drivers-control{
    display: flex;
    justify-content: center;
}